* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: "Kalam", cursive; */
}
:root {
    --main-bg-color: white;
    --second-bg-color: rgb(72, 131, 233);
    --blue-text: #0d43a0;
    --grey-text: #606060;
    --light-grey-text: #8896aa;
    --grey-background: #f1f1fa;
    --btn: #ffba49;
    --dark-grey-text: #3c3c3c;
    --overlay-color: rgb(72, 131, 233, 0.5);
    --link: purple;
}

.darkMode {
    --main-bg-color: #3f425a;
    --second-bg-color: rgb(118, 89, 229);
    --blue-text: #f5f5f5;
    --grey-text: #ffffff;
    --light-grey-text: #f5f5f5;
    --grey-background: #31344f;
    --btn: #f5f5f5;
    --dark-grey-text: #f5f5f5;
    --overlay-color: rgb(118, 89, 229, 0.8);
    --link: red;
}

.container {
    background-color: var(--main-bg-color);
}
/* navbar */
.navbar {
    display: inline-block;
    width: 60px;
    background-color: var(--second-bg-color);
    list-style-type: none;
    height: 100vh;
    position: fixed;
}
.navbar ul li a {
    display: flex;
    gap: 15px;
    padding: 15px;
    margin: 10px;
    text-decoration: none;
    color: white;
}
.logo {
    height: 80px;
    border-radius: 50%;
    margin: 12px 0px 55px 0px;
    border: 2px var(--main-bg-color) solid;
}
.text {
    visibility: hidden;
    color: white;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.8px;
}
.navbar2 {
    position: absolute;
    right: 0px;
    margin-top: 15px;
    width: 100px;
}
#moon{
    font-size: 30px;
    /* padding: 20px; */
    /* margin: 20px; */
    background-color: var(--main-bg-color);
    color: var(--dark-grey-text);
    border: none;
}

/* section */
section {
    width: 100%;
    height: auto;
}
section img {
    width: 250px;
    height: 250px;
    border: 1px solid var(--dark-grey-text);
    border-radius: 25%;
}


/* home */
.home,
.graph {
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    /* width: 95%; */
    margin: 50px 0px 50px 90px;
    padding: 40px;
    text-shadow: 100px;
    color: var(--light-grey-text);
}
.detail {
    /* border: 1px black solid; */
    width: 55%;
    padding: 20px;
}
.name {
    color: var(--grey-text);
    font-weight: bold;
}
#my {
    /* color: black; */
    font-size: xx-large;
    margin: 15px 0px 15px 0px;
}
.Description {
    display: flex;
    flex-wrap: wrap;
    margin-top: 45px;
}
.summary {
    margin: 0.5px;
    text-align: center;
    padding: 5px;
    /* padding-bottom: 1px; */
    background-color: var(--second-bg-color);
    color: white;
    width: 125px;
    text-transform: uppercase;
    font-size: small;
    border: none;
}
.summary:hover {
    cursor: pointer;
    border: 2px solid var(--blue-text);
}
.summary p:hover {
    transform: scale(1.1);
}
.one {
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
}
.three {
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
}
.digits {
    font-size: 50px;
    height: 60px;
    font-weight: bolder;
}
.mypic img,
.certificates img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    text-shadow: 5px 5px 5px red;
}
.mypic img:hover {
    opacity: 0.9;
    cursor: pointer;
    transform: scale(1.2);
}
#image {
    border-radius: 50%;
}
#image:hover{
    opacity: 1;
}
#detail {
    font-size: 23px;
    width: 80%;
    margin: 0px 20px20px 20px;
    padding: 10px;
    line-height: 1.8rem;
    color: var(--blue-text);
    background-color: var(--main-bg-color);
    font-weight: bolder;
}

/* experience */
.exHead {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    width: 93%;
    margin: 50px 0px 30px 120px;
    color: var(--blue-text);
    font-weight: bolder;
}
.title {
    font-size: 50px;
}
.line {
    background-color: var(--blue-text);
    width: 70%;
    font-size: 0.6%;
}
.first, .second, .third, .fourth {
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 93%;
    /* gap: 10px; */
    margin: 30px 0px 30px 80px;
    padding: 40px;
    text-shadow: 100px;
    color: var(--grey-text);
    background-color: var(--grey-background);
}
.Exdetail {
    /* border: 1px black solid; */
    width: 55%;
    padding: 20px;
}
h4 {
    font-weight: bolder;
    font-size: 30px;
    margin: 0px 0px 0px 0px;
    color: var(--blue-text);
}
.desg {
    margin-bottom: 20px;
    font-size: small;
    color: var(--dark-grey-text);
}
.Exdetail ul {
    margin: 10px 0px 0px 50px;
}
.techBox {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
}
.tech {
    margin: 1px;
    text-align: center;
    padding: 5px;
    /* padding-bottom: 1px; */
    background-color: var(--main-bg-color);
    color: var(--dark-grey-text);
    width: auto;
    text-transform: uppercase;
    font-size: small;
    border-radius: 5px;
}
.btn {
    width: 150px;
    color: #2705a7;
    /* letter-spacing: 1px; */
    font-weight: bold;
    background-color: var(--btn);
    margin: 25px 0px 10px 0px;
    padding: 10px;
    border-radius: 10px;
    text-transform: capitalize;
    border: 1px solid white;
}

.btn:hover {
    background-color: var(--main-bg-color);
    color: #7659e5;
}
.certificates {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#view{
    width: 500px;
    height: 400px;
    border: 1px solid black;
}
#view:hover{
    opacity: 1;
}

/* porjects */
.front {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
    margin: 20px;
    margin-bottom: 90px;
}
.front img {
    border: 1px solid white;
    border-radius: 10%;
}
.front img:hover {
    opacity: 40%;
}
.overlay {
    height: 0%;
    width: 80%;
    margin: 2% 0% 0% 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--main-bg-color);
    overflow-y: hidden;
    overflow-y: scroll;
    transition: 0.5s;
}
.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay-content div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    color: var(--main-bg-color);
    /* border: 1px solid white; */
}
.overlay-content div div {
    flex-direction: column;
    gap: 5px;
    /* border: 1px solid var(--second-bg-color); */
    border-radius: 20px;
    background-color: var(--second-bg-color);
}
.overlay-content img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
}
.overlay-content img:hover {
    opacity: 40%;
}
/* figcaption{
    position: absolute;
    top: 50%;
} */
.flutter img {
    top: 0%;
    margin-top: 0px;
    height: 600px;
    width: 300px;
}
.closebtn {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: var(--link);
    display: block;
    transition: 0.3s;
    position: absolute;
    top: 20px;
    left: 45px;
    font-size: 60px;
}
.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

/* skills */
.graph {
    margin: 10px;
}

.chart1 {
    width: 35%;
    margin-left: 5%;
    /* border: 1px solid var(--main-bg-color); */
}

.chart2 {
    width: 45%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    text-align: center;
    color: var(--dark-grey-text);
}

#myChart1,
#myChart2 {
    width: 100%;
    max-width: 600px;
}

/* contact */
.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    /* gap: 10px; */
    margin: 20px 0px 10px 0px;
    /* padding: 50px; */
    background-color: var(--grey-background);
    margin: 10px;
    padding: 10px;
}
.info {
    margin: 0px 50px 20px 0px;
    font-size: 1.5rem;
    color: var(--dark-grey-text);
    line-height: 3rem;
    /* border: 1px solid black; */
    padding: 120px 50px 100px 50px;
}
.info a {
    text-decoration: none;
    color: var(--link);
}
.map {
    /* border: 1px solid black; */
    width: 55%;
    height: 80vh;
}
.location {
    /* border-radius: 25%; */
    width: 100%;
    height: 100%;
}

/* media query */

@media screen and (max-width: 480px) {

    body, html {
        font-size: 15px;
        overflow-x: hidden;
        overflow-y: auto;
        margin: 5px;
        padding: 2px;
    }
    /* navbar */
    .navbar {
        visibility: hidden;
    }
    .navbar2 {
        background-color: var(--second-bg-color);
        text-align: right;
        width: 100%;
    }
    #moon{
        font-size: 20px;
    }
    
    /* home */
    .home,
    .graph {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        gap: 5px;
        margin: 0px;
        margin-top: 70px;
        padding: 0px;
    }
    .detail {
        width: 100%;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    #my {
        font-size: small;
    }
    .name{
        font-size: large;
    }
    .Description {
        display: flex;
        flex-wrap: wrap;
        margin-top: 25px;
        align-items: center;
        justify-content: center;
    }
    .summary {
        width: 78px;
        font-size: 14px;
    }
    .three .cut{
        font-size: 7.5px;
    }
    .digits {
        font-size: 18px;
        height: 30px;
    }
    
    /* experience */
    #Experience{
        margin: 0px;
        padding: 0px;
    }
    .exHead {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0%;
        padding: 0px;
        gap: 30px;
        width: 93%;
    }
    .title {
        margin-top: 50px;
        font-size: 40px;
    }
    .first, .second, .third, .fourth {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    .certificates img {
        width: 150px;
        height: 150px;
    }
    .certificates{
        margin: 5px;
        margin-top: 20px;
    }
    .Exdetail {
        margin: 8px;
        width: 100%;
        padding: 8px;
        font-size: 12px;
    }
    h4 {
        font-weight: bolder;
        font-size: 25px;
        margin: 0px;
        text-align: center;
    }
    .desg{
        text-align: center;
    }
    .btn {
        margin: 15px 0px 60px 0px;
        width: 95%;
    }
    .certificates {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    #view{
        width: 500px;
        height: 400px;
    }
    #view:hover{
        opacity: 1;
    }
    
    /* skills */
    
    .graph {
        margin: 0px;
    }
    
    .chart1 {
        width: 100%;
        text-align: center;
        scale: 1;
        margin: 5%;
    }
    .chart2 {
        width: 100%;
        text-align: center;
        margin: 5%;
        scale: 1;
    }
    
    /* contact */
    .contact{
        margin: 0px;
        padding: 0px;
    }
    .info {
        font-size: 1rem;
        line-height: 2rem;
        margin: 0px 0px 0px 0px;
        padding: 10px;
        text-align: center;
        width: 100%;
    }
    .map {
        width: 100%;
        /* height: 80vh; */
    }
    .location {
        width: 100%;
        height: 100%;
    }
    
}